h1{
    text-align: center;
    font-size: 100px;
    color: black;
}
body{
    background-image: url("mortal.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    width: 40%;
    height: 100%;
}
.botao{
    background-color: rgb(255, 255, 255);
    color: white;
    border: none;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
}
.cabecalho{
    border-style: groove;
    border-color: black;

}
