h1{
    text-align: center;
    font-size: 90px;
    color: black;
}
body{
    background-image: url("mortal.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 100%;
    width: 100%;
}


