h1{
    text-align: center;
    font-size: 100px;
    color: black;
}
body{
    background-image: url("mortal.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    width: 90%;
    height: 90%;
}


